@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>元峰会</h1>
    <p class="lead">@Html.Action("ContentPartial", "Articles", new { id = "introduction" })</p>
    <p>
        @Html.ActionLink("立即报名", "Create", "Enroll", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

@{
    Html.RenderAction("ContentPartial", "Articles", new { id = "mainpart" });
}