@model ModelUNRegister.Models.Article

@{
    ViewBag.Title = Model.Title;
}

<div class="page-header">
    <h1>@Model.Title</h1>
</div>

<p>
    @Html.Raw(Model.Content)
</p>

@if (ViewBag.ShowLink)
{
    <p>
        文章链接：@Url.Action("ShowById", new { id = Model.Id })
    </p>
}