@model ModelUNRegister.Models.Article

@{
    ViewBag.Title = Model.Title;
}

<div class="page-header">
    <h1>@Model.Title</h1>
</div>

<p>
    @Html.Raw(Model.Content)
</p>

@if (ViewBag.ShowLink)
{
    <p>
        @{var link = Url.Action("ShowById", "Articles", new { id = Model.Id }, Request.Url.Scheme); }
        文章链接：<a href="@link">@link</a>
    </p>
}