@model ModelUNRegister.Models.Article

@{
    ViewBag.Title = Model.Title;
}

<div class="page-header">
    <h1>@Model.Title</h1>
</div>

<p>
    @Html.Raw(Model.Content)
</p>

@if (ViewBag.ShowLink)
{
    @{
        var internalLink = Url.Action("ShowById", new { id = Model.Id });
        var externalLink = Url.Action("ShowById", "Articles", new { id = Model.Id }, Request.Url.Scheme);
    }
    <p>
        文章内链：@internalLink
    </p>
    <p>
        文章外链：<a href="@externalLink">@externalLink</a>
    </p>
}